<nav id="sidebar">
    <div class="sidebar-header">
        <h3 class="mb-0 mt-3">
            <i class="menu-icon fa fa-dashboard"></i> 
            <a href="/admin" class="undecorate-link">Dashboard</a>
        </h3>
    </div>

    <ul class="list-unstyled components sidebar-list">
        <li>
            <a href="#">
                <i class="fa fa-plus"></i>
                #test value
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-user"></i>
                #test value
            </a>
        </li>
    </ul>
</nav>
