{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="row p-2 mt-3">
        <div class="card no-border-radius">
            <div class="card-body">
                <h2 class="mb-4 mt-3">Add Race Result</h2>
                <form method="POST" action="/register" id="registration-form">
                    <div class="mb-3">
                        <label for="race-input" class="form-label">Race</label>

                        <select class="form-select" aria-label="Select Race" id="race-input" name="race_id" required>
                            <option selected>Bahrain Grand Prix</option>
                            <option value="1">Emilia Romagna Grand Prix</option>
                            <option value="2">Portuguese Grand Prix</option>
                            <option value="3">Spanish Grand Prix</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="driver-input" class="form-label">Driver</label>

                        <select class="form-select" aria-label="Select driver" id="driver-input" name="driver_id" required>
                            <option selected>Charles Leclerc</option>
                            <option value="1">Carlos Sainz</option>
                            <option value="2">Lando Norris</option>
                            <option value="3">Daniel Riccardo</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="position-input" class="form-label">Position</label>
                        <input type="number" class="form-control" id="position-input" name="position" required>
                    </div>
                   
                    <button type="submit" class="btn btn-primary">Add Result</button>

                    <div id="registration-error-messages-container" class="mt-3">
                        {% for message in session.getFlashBag().get('race_result_store_error') %}
                            <div class="alert alert-danger mt-2">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}