{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5">
        <h4>This page could not be found</h4>
        <p>
            To go back, click <a href="/" class="text-decoration-none">homepage</a>
        </p>
    </div>
    
{% endblock %}