{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5">
        <h4>Something went wrong. {{ message }} If problem won't go away, please contact us.</h4>
        <p>
            To go back, click <a href="/" class="text-decoration-none">homepage</a>.
        </p>
    </div>
    
{% endblock %}