:root
{
    --layoutColor: #b71c1c;
}

.navbar
{
    background: var(--layoutColor);
    padding-top: 20px!important;
    padding-bottom: 20px!important;
}

.navbar-toggler:focus {
    border-color: rgba(255, 255, 255, .1)!important;
}

.no-border-radius 
{
    border-radius: 0px;
}

.f1-car-img {
    max-width: 90px;
}

.linear-green {
    background-color: #63d471;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
    color: white;
}

.linear-red {
    background-color: #6b0f1a;
    background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
    color: white;
}

table > tbody > tr > td
{
    padding: 1rem 1rem!important;
}

.active-race-table-row {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,32,0.5046393557422969) 43%, rgba(255,0,69,1) 100%);
    color: white!important;
}

.grey-hover:hover {
    color: #6c757d!important;
}

.layout-color {
    background-color: var(--layoutColor);
}